<h2> New Contact </h2>

<form name		= "newContact"
			novalidate
			class 	= "form-horizontal">
	
	<!-- First Name -->
	<form-field record	 	=	"contact"
							field		 	= "firstName"
							live		 	= "false"
							required 	= "true"></form-field>
		
	<!-- Last Name -->
	<form-field record 		= "contact"
						field				= "lastName"
						live				= "false"
						required		= "true"></form-field> 

	<!-- Other -->
	<form-field ng-repeat = "(k, v) in contact | keyFilter: 'firstName' | keyFilter: 'lastName'"
							record		= "contact"
							field			= "{{k}}"></form-field>
	
	<!-- Buttons -->
	<div class = "row form-group">
		<div class = "col-sm-offset-2">
			<button class 	 	= "btn btn-primary"
						  ng-click 	= "save()"> Create Contact </button>
		</div>
	</div>
	
</form>